body {
  min-width: 1300px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #1a1a1a;
}
.layout-center {
  width: 1140px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
.main-header {
  margin-bottom: 25px;
}
.main-header .top-row {
  margin-bottom: 54px;
  padding-top: 3px;
  font-family: "Kreon", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.05;
  color: #2c2c2c;
}
.main-header .top-row .left-column {
  float: left;
  width: 360px;
}
.main-header .top-row .left-column span {
  position: relative;
  margin-left: 30px;
}
.main-header .top-row .left-column span:before {
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  background: url("../img/spritesheet.png") no-repeat;
}
.main-header .top-row .left-column span:first-child:before {
  width: 16px;
  height: 11px;
  left: -20px;
  background-position: -77px -60px;
}
.main-header .top-row .left-column span:nth-child(2):before {
  width: 8px;
  height: 11px;
  background-position: -5px -5px;
}
.main-header .top-row .left-column span:last-child:before {
  width: 10px;
  height: 10px;
  background-position: -51px -66px;
}
.main-header .top-row .right-column {
  float: right;
  width: 262px;
}
.main-header .top-row .right-column a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2c2c2c;
}
.main-header .top-row .right-column a:first-child {
  margin-left: 31px;
}
.main-header .top-row .right-column a:nth-child(3) {
  margin-right: 24px;
}
.main-header .top-row .right-column a:nth-child(3):before,
.main-header .top-row .right-column a:nth-child(4):before {
  position: absolute;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  background: url("../img/spritesheet.png") no-repeat;
  width: 8px;
  height: 5px;
  background-position: -5px -45px;
}
.main-header .menu {
  position: relative;
  width: 780px;
  margin: 0 auto;
}
.main-header .menu:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 323px;
  width: 168px;
  height: 79px;
  background: url("../img/top-logo.png") no-repeat;
}
.main-header .menu-item {
  margin-right: 22px;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  color: #2a2a2a;
}
.main-header .menu-item:last-child {
  margin-right: 0;
}
.main-header .menu-item:nth-child(3) {
  margin-right: 250px;
}
.main-header .menu-item:hover {
  color: #ac2022;
  border-bottom: 1px dashed #2a2a2a;
}
.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
}
.btn-intro {
  position: absolute;
  top: 270px;
  left: 50%;
  width: 150px;
  padding: 17px 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  font-size: 18px;
  line-height: 1.2;
  color: #ac2022;
  background-color: #ffffff;
}
.btn-intro:hover {
  color: #ffffff;
  background-color: #ac2022;
  transition: background-color 0.5s;
}
.btn-booking {
  width: 126px;
  padding: 8.5px 0;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #ac2022;
}
.btn-accomodation {
  width: 140px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.btn-subscribe {
  width: 165px;
  padding: 10.5px 0;
  font-size: 18px;
  line-height: 1.2;
  text-transform: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.btn-subscribe:hover {
  background-color: #ffffff;
  color: #ac2022;
  transition: background-color 0.5s;
}
.btn-contacts {
  width: 165px;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.section {
  margin-bottom: 88px;
}
.section-title {
  margin-bottom: 15px;
  font-family: "Kreon", "Arial", sans-serif;
  font-size: 28.63px;
  line-height: 1.2;
  color: #ac2022;
  text-transform: uppercase;
  text-align: center;
}
.about .section-title,
.best .section-title {
  text-align: left;
}
.subscribe .section-title {
  display: inline-block;
  vertical-align: middle;
  width: 190px;
  margin-bottom: 0;
  color: #ffffff;
  text-transform: none;
}
.contacts .section-title {
  padding-top: 28px;
  color: #ffffff;
}
.section-image,
.section-content {
  float: left;
  width: 540px;
  margin-right: 60px;
}
.section-image {
  height: 264px;
}
.about .section-image {
  margin-right: 0;
}
.section-image img {
  height: 100%;
}
.best .section-content {
  float: right;
  margin-right: 0;
}
.text-field {
  padding: 12.5px 10px;
  font-family: "Kreon", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #494949;
  border: none;
  outline: none;
}
.contacts-form .text-field {
  display: inline-block;
  vertical-align: top;
  width: 243px;
  margin-bottom: 20px;
  padding: 9.5px 10px;
}
.main-content .intro {
  position: relative;
  margin-bottom: 97px;
  height: 500px;
  background: url("../img/slider-bg.jpg") no-repeat 50% 50%;
}
.main-content .intro:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(172, 32, 34, 0.6);
}
.main-content .intro-title {
  position: absolute;
  top: 107px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Kreon", "Arial", sans-serif;
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.main-content .intro-title:first-line {
  font-size: 30px;
}
.main-content .intro .booking {
  position: relative;
  top: 455px;
  padding: 30px 98px;
  background-color: #ffffff;
  box-shadow: 0 5px 25px rgba(41, 52, 73, 0.5);
}
.main-content .intro .booking-field {
  box-sizing: border-box;
  width: 240px;
  padding: 7.5px 13px;
  margin-right: 13px;
  font-size: 14px;
  line-height: 1.2;
  color: #474747;
  border: 1px solid #ac2022;
  outline: none;
}
.main-content .intro .booking select {
  display: inline-block;
  vertical-align: top;
  width: 126px;
  padding: 6px 13px;
  margin-right: 24px;
}
.main-content .accomodation {
  margin-bottom: 127px;
}
.main-content .accomodation .stars {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.main-content .accomodation .stars .star {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  background: url("../img/spritesheet.png") no-repeat;
  width: 22px;
  height: 20px;
  background-position: -79px -30px;
}
.main-content .accomodation .stars .star:last-child {
  margin-right: 0;
}
.main-content .accomodation-type {
  position: relative;
  float: left;
  width: 668px;
  height: 294px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Kreon", "Arial", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
.main-content .accomodation-type:nth-child(2n) {
  margin-right: 0;
}
.main-content .accomodation-type img {
  height: 100%;
}
.main-content .accomodation-type-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(130, 33, 33, 0.6);
  transition: opacity .5s;
}
.main-content .accomodation-type-inner:hover {
  opacity: 0.9;
  transition: opacity .5s;
}
.main-content .accomodation-type-title {
  margin-top: 69px;
}
.main-content .accomodation-type-cost {
  display: block;
  margin-bottom: 32px;
  font-size: 34px;
}
.main-content .accomodation .small {
  width: 457px;
}
.main-content .gallery {
  margin-bottom: 42px;
}
.main-content .gallery-filter {
  width: 555px;
  margin: 0 auto;
  margin-bottom: 47px;
}
.main-content .gallery-filter a {
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  color: #646464;
}
.main-content .gallery-filter a:hover {
  color: #ac2022;
}
.main-content .gallery-content-item {
  float: left;
  width: 260px;
  height: 260px;
}
.main-content .gallery-content-item img {
  height: 100%;
}
.main-content .subscribe {
  padding: 30px 0;
  padding-left: 225px;
  margin-bottom: 42px;
  background-color: #ac2022;
}
.main-content .subscribe .text-field {
  width: 360px;
}
.main-content .subscribe-form {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
.main-content .contacts {
  padding-left: 80px;
  background-color: #ac2022;
}
.main-content .contacts-form {
  float: left;
  width: 555px;
}
.main-content .contacts-form input[name="name"] {
  margin-right: 26px;
}
.main-content .contacts-form textarea[name="details"] {
  width: 535px;
}
.main-content .contacts .map {
  position: relative;
  float: right;
  width: 635px;
  height: 317px;
  margin: 5px;
  margin-right: 0;
}
.main-content .contacts .map:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../img/spritesheet.png") no-repeat;
  width: 22px;
  height: 30px;
  background-position: -47px -5px;
}
